.badge-pad {
    color: $white;
    font-size: $pad-mention-size;
    font-weight: bold;
    height: 26px;
    padding: 6px 10px;
    border-radius: 16px;

    &.badge-pad-hidden {
        color: $body-color;
        background-color: map-get($badge-colors, "hidden");
    }
    &.badge-pad-info {
        background-color: map-get($badge-colors, "info");
    }
}
