.btn-burgermenu {
    color: #1d2125;
    background-color: $white;
    border: 1px solid #CED4DA;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 2px 6px;
    &:hover {
        background-color: #e2e6ea;
        border-color: #dae0e5;
    }
}

.btn.btn-primary {
    background-color: theme-color("primary");
    border: solid 1px theme-color("primary");
    border-radius: 4px;
    color: $white;
    font-weight: 700;
    &:hover {
        background: scale-color(theme-color("primary"), $lightness: -20%);
    }
    &:active {
        background-color: theme-color("primary") !important;
        border-color: theme-color("padborder") !important;
    }
}

.btn.btn-secondary {
    background-color: $white;
    border: 1px solid theme-color("padlink");
    border-radius: 4px;
    color: theme-color("padlink");
    margin-left: 22px;
    &:hover {
        background-color: theme-color("padsecondarybg");
    }
    &:active {
        background-color: theme-color("padsecondarybg") !important;
        border-color: theme-color("padlink") !important;
        color: theme-color("padlink") !important;
    }
}

.btn.btn-outline-secondary {
    background-color: $white;
    border: 1px solid theme-color("padlink");
    border-radius: 4px;
    color: theme-color("padlink");
    &:hover {
        background-color: theme-color("padsecondarybg");
    }
    &:active {
        background-color: $white !important;
        border-color: theme-color("padlink") !important;
        color: theme-color("padlink") !important;
    }
    .icon {
        display: none;
    }
}

// Needed to keep right color when button dropdown (course card dashboard) is active
.show>.btn-outline-secondary.dropdown-toggle {
    background-color: $white;
    border-color: theme-color("padlink");
    color: theme-color("padlink");
}

// Style btn "All courses" of calendar page
.cal_courses_flt {
    background-color: $white;
    border: 1px solid theme-color("padlink");
    border-radius: 4px;
    color: theme-color("padlink");
    &:hover {
        background-color: theme-color("padsecondarybg");
    }
}
