// Make links in a menu clickable anywhere in the row.
.dropdown-item {
    a {
        display: block;
        width: 100%;
        color: $body-color;
    }
    &:active,
    &:hover,
    &:focus,
    &:focus-within {
        outline: 0;
        background-color: $dropdown-link-active-bg;
        color: $dropdown-link-active-color;
        a {
            color: $dropdown-link-active-color;
        }
    }
    &[aria-current="true"] {
        position: relative;
        display: flex;
        align-items: center;
        &:before {
            @include fa-icon();
            content: $fa-var-circle;
            position: absolute;
            left: 0.4rem;
            font-size: 0.7rem;
        }
    }
}
