#searchbar-container {
    .simplesearchform .form-control {
        border: 1px solid #CED4DA;
        border-radius: 4px;
    }
    
    .form-inline .input-group {
        width: 400px;
        .fa-search:before { 
            color: $body-color;
            font-size: 1.2rem;
            position: absolute;
            right: 35px;
            top: 9px;
            transition: all 0.2s ease-in-out;
            z-index: 3;
        }
        .form-control:focus + .fa-search:before {
                color: theme-color("primary");
        }
    }

    // Icons
    .fa-remove:before, .fa-close:before, .fa-times:before {
        font-size: 22px;
    }

    .simplesearchform .btn-close {
        color: $navbar-light-color;
        position: absolute;
        right: -40px;

        @include hover-focus() {
            color: $navbar-light-hover-color;
        }
    }

    .input-group-append {
        display: none;
    }

    .simplesearchform .btn-open {
        color: black;
        &:hover {
            color: #E2E6EA;
        }
    }
}

// Responsive
@media screen and (min-width: 993px) {
    #searchbar-container {
        margin-left: auto;
        margin-right: auto;

        .simplesearchform {
            a {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 499px) {
    #searchbar-container {
        .form-inline .input-group {
            width: 100%;
        }
    }
}
