.navbar-brand {
    margin-left: 15px;
}

.navbar-icon {
    @include font-size(1.3rem);
    color: $navbar-light-color;

    @include hover-focus() {
      color: $navbar-light-hover-color;
    }
}

.navbar.fixed-top .dropdown .dropdown-menu {
    border-radius: 4px;
    box-shadow: 0px 8px 8px rgba(56, 69, 76, 0.04), 0px 4px 4px rgba(56, 69, 76, 0.04);
}
