.icon-no-margin .icon {
    height: 22px;
    width: 22px;
    margin: 0 6px;
}

.navbar-brand {
    margin-left: 15px;
}

// User menu
.navbar.fixed-top .dropdown .dropdown-menu {
    border-radius: 4px;
    box-shadow: 0px 8px 8px rgba(56, 69, 76, 0.04), 0px 4px 4px rgba(56, 69, 76, 0.04);
}

.userbutton .usertext {
    color: #0048D3;
}
