#nav-drawer {
    display: flex;
    flex-direction: column;
    background-color: theme-color("padsidebarbg");
    padding-right: 0px;
    padding-top: 50px;
    padding-left: 0px;
    border-right: solid 1px theme-color("padborder");

    .list-group-item {
        background-color: theme-color("padsidebarbg");
        border: 0px;
        color: $body-color;
        height: 56px;
        line-height: 24px;
        padding-left: 30px;
        transition: all ease 0.1s;
        &:hover {
            background-color: theme-color("primary");
            color: theme-color("padinvert");
            text-decoration: underline;
        }
    }

    .list-group-item.active {
        background-color: theme-color("padsidebarbg");
        color: theme-color("primary");
        font-weight: $font-weight-bold;
        border-right: solid 4px theme-color("primary");
    }
}

.flat-menu-divider {
    display: flex;
    align-items: center;

    hr {
        border: 1px solid theme-color("padborder");
        width: 85%;
    }
}

.media-body {
    margin-left: 6px;
}
