// Définition des couleurs marque blanche.
// Respectez le cahier des charges pour l'intégration et l'accessibilité dans le thème PAD+.
// Il s'agit ici des couleurs du thème EPNAK à titre d'exemple.
$primary:            #008A28;
$complementary:      #0877D9;
$sidebar-background: #f7fbf0;
