#page-course-index-category {
    #page {
        padding: 0 200px;
        #region-main {
            overflow: visible;
            padding-top: 0px;
        }
    }

    // Category description.
    .generalbox.info {
        border-color: theme-color("pad-border");
        border-style: solid;
        border-width: 0 0 1px 0;
        padding-bottom: 24px !important;
    }

    // Hide the actions dropdown trigger from its regular place,
    // since we insert it below next to the search bar.
    // Indeed we only want it to appear for admin/managers, not contributors.
    #region-main-settings-menu {
        .action-menu-trigger {
            display: none;
        }
    }
    .region_main_settings_menu_proxy {
        display: none;
    }
    .category-page-settings-container {
        @include dropdown-padplus();
        display: flex;
        justify-content: flex-end;
    }
}

// Category tree.
.course_category_tree {
    .subcategories {
        .category-item {
            align-items: center;
            border: 1px solid theme-color("pad-border");
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            margin: 16px 0px;
            padding: 16px 20px;
            transition: all 0.1s ease-in-out;
            width: 100%;
            .category-title {
                margin-bottom: 0px;
            }
            &:hover {
                background-color: theme-color("pad-btn-secondary-bg");
                border: 1px solid theme-color("pad-link");
                text-decoration: none;
            }
            &:after {
                align-items: center;
                background-color: #EFF4FD;
                border-radius: 25px;
                content: fa-content($fa-var-chevron-right);
                display: flex !important;
                @include fa-icon();
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                height: 40px;
                justify-content: center;
                min-width: 40px;
            }
        }
    }
}

// Button "Add a course".
.category-page-btns-container {
    margin-top: 38px;
    padding-top: 26px;
    border-top: 1px solid theme-color("pad-border");
    .btn-add-course {
        margin: 0 10px;
        &:before {
            content: fa-content($fa-var-plus);
            @include fa-icon();
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            margin-right: 8px;
        }
    }
}

// Pagination for categories page.
.course_category_tree {
    @include pagination-padplus();

    nav:first-child.pagination { // Hide top pagination.
        display: none;
    }
}

// Responsive for page, search bar, category settings dropdown & bottom buttons.
@media screen and (max-width: 1389px) {
    #page-course-index-category {
        #page {
            padding: 0 150px;
        }
    }
}

@media screen and (max-width: 1289px) {
    #page-course-index-category {
        #page {
            padding: 0 100px;
        }
    }
}

@media screen and (max-width: 1042px) {
    #page-course-index-category {
        #page {
            padding: 0 1rem;
        }
    }
}

@media screen and (max-width: 865px) {
    .category-page-settings-container {
        flex-direction: column;
        margin-bottom: 40px;
        .action-menu {
            width: 100%;
            .action-menu-trigger {
                width: 100%;
                a {
                    display: flex !important;
                    justify-content: space-between;
                }
            }
        }
    }
}

@media screen and (max-width: 525px) {
    .category-page-btns-container {
        display: flex;
        flex-direction: column;
        .btn-add-course {
            margin: 0 0 10px 0;
        }
        .singlebutton .btn {
            width: 100%;
        }
    }
}
